.App {
  text-align: center;
  width: 50%;
  margin: 0 auto;
}

h2 {
  font-size: 2em;
}

.display{
  padding-bottom: 1.3em;
  font-size: 1.5em;
}

.buttons {
  display: flex;
  justify-content: space-around;
}

button {
  padding: 10px 20px;
  border-radius: 5px;
  font-weight: 500;
  font-size: 1.25em;
}

.buttons .start{
  background: green;
}

.buttons .stop{
  background: tomato;
}

.buttons .wait{
  background: yellow;
}

.buttons .reset{
  background: purple;
}
